<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="CairosRunnerConfig" value="RunnersConfig/CairosRunnerConfig.xml"/>
    <add key="CairosMaxRunTimeInSeconds" value="300"/>
    <add key="RunsLog" value="C:/Users/Administrator/Desktop/Rune/Angel.BK-1426987-runs.csv"/>
    
    <add key="ToaRunnerConfig" value="RunnersConfig/ToaRunnerConfig.xml"/>
    <add key="ToaMaxRunTimeInSeconds" value="500" />
    <add key="ToaLog" value="C:/Users/Administrator/Desktop/Rune/Angel.BK-1426987-toa-runs.csv"/>

    <add key="RiftRunnerConfig" value="RunnersConfig/RiftRunnerConfig.xml"/>
    <add key="RiftMaxRunTimeInSeconds" value="500" />
    <add key="RiftLog" value="C:/Users/Administrator/Desktop/Rune/Angel.BK-1426987-raid-runs.csv"/>

    <add key="FullLog" value="C:/Users/Administrator/Desktop/Rune/full_log.txt"/>
  </appSettings>
</configuration>